<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign-Up Form</title>
</head>
<body>
	<div class="container">
		<h1>Register</h1>
		<label for="fname">First Name</label><br>
		<input type="text" placeholder="Enter your first name" id="fname" size="50" required><br><br>

		<label for="lname">Last Name</label><br>
		<input type="text" placeholder="Enter your last name" id="lname" size="50" required><br><br>
		
		<label for="uname">Username</label><br>
		<input type="text" placeholder="Enter your username" id="uname" size="50" required><br><br>
		
		<label for="email">E-mail</label><br>
		<input type="text" placeholder="Enter your email" id="email" size="50" required><br><br>
		
		<label for="pwd">Password</label><br>
		<input type="text" placeholder="Enter your password" id="pwd" size="50" required><br><br>
		
		<label for="cpwd">Confirm Password</label><br>
		<input type="text" placeholder="Confirm your password" id="cpwd" size="50" required><br>
	</div>

</body>
</html>